<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="com.espressif.idf.target" sequenceNumber="25">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.35"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>

		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2025-03/"/>
			<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.cdt.cmake.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.control.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm.terminal.view.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.google.gson" version="0.0.0"/>
			<unit id="org.antlr.runtime" version="0.0.0"/>
			<unit id="org.apache.log4j" version="0.0.0"/>
			<unit id="org.hamcrest" version="0.0.0"/>
			<unit id="org.hamcrest.core" version="0.0.0"/>
			<unit id="org.junit" version="0.0.0"/>
			<unit id="org.yaml.snakeyaml" version="0.0.0"/>
			<unit id="com.sun.jna" version="0.0.0"/>
			<unit id="com.sun.jna.platform" version="0.0.0"/>
			<unit id="org.apache.batik.css" version="0.0.0"/>
			<unit id="org.apache.batik.util" version="0.0.0"/>
			<unit id="org.apache.batik.i18n" version="0.0.0"/>
			<unit id="org.apache.batik.constants" version="0.0.0"/>
			<unit id="org.commonmark" version="0.0.0"/> <!-- 0.22.0 -->
			<repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2025-03"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
			<unit id="slf4j.api" version="0.0.0"/>
			<unit id="slf4j.simple" version="0.0.0"/>
			<repository location="https://download.eclipse.org/egit/updates-7.0/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/mylyn/releases/latest"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/technology/swtbot/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/nebula/releases/latest"/>
			<unit id="org.eclipse.nebula.widgets.xviewer.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/embed-cdt/updates/v6/"/>
			<unit id="org.eclipse.embedcdt.debug.gdbjtag.feature.group" version="6.4.0.202307251916"/>
			<unit id="org.eclipse.embedcdt.debug.gdbjtag.openocd.feature.group" version="6.4.0.202307251916"/>
			<unit id="org.eclipse.embedcdt.feature.group" version="6.4.0.202307251916"/>
			<unit id="org.eclipse.embedcdt.packs.feature.group" version="6.4.0.202307251916"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/lsp4e/releases/0.27.2/"/>
			<unit id="org.eclipse.lsp4e" version="0.0.0"/>
			<unit id="org.eclipse.lsp4e.debug" version="0.0.0"/>
			<unit id="org.eclipse.lsp4j" version="0.0.0"/>
			<unit id="org.eclipse.lsp4j.debug" version="0.0.0"/>
			<unit id="org.eclipse.lsp4j.jsonrpc" version="0.0.0"/>
			<unit id="org.eclipse.lsp4j.jsonrpc.debug" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tm4e/releases/0.14.1/"/>
			<unit id="org.eclipse.tm4e.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.tm4e.language_pack.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/21/updates/release/21.0.6"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/cdt/releases/cdt-lsp-3.1/cdt-lsp-3.1.0/"/>
			<unit id="org.eclipse.cdt.lsp.feature.feature.group" version="0.0.0"/>
			<unit id="org.yaml.snakeyaml" version="2.2.0"/> 
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="jar:https://dl.espressif.com/dl/idf-eclipse-plugin/updates/CMakeEd-1.24.1.zip!/"/>
			<unit id="com.cthing.cmakeed.feature.feature.group" version="1.24.1"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/swtchart/releases/1.0.0/repository/"/>
			<unit id="org.eclipse.swtchart.feature.feature.group" version="1.0.0.202412021530"/>
		</location>
	</locations>
</target>