<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idfNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.espressif.idf.core.IDFProjectNature">
         </run>
      </runtime>
   </extension>
  <extension
         point="org.eclipse.cdt.core.buildConfigProvider">
      <provider
            class="com.espressif.idf.core.build.IDFBuildConfigurationProvider"
            id="com.espressif.idf.cmake.core.provider"
            natureId="com.espressif.idf.core.idfNature">
      </provider>
   </extension>
  <extension
        point="org.eclipse.cdt.cmake.core.toolChainProvider">
     <provider
           class="com.espressif.idf.core.build.ESPCMakeToolChainProvider">
     </provider>
  </extension>
  <extension
        point="org.eclipse.cdt.core.toolChainProvider">
     <provider
           class="com.espressif.idf.core.build.ESPToolChainProvider"
           id="com.espressif.idf.core.esp.toolchainprovider">
     </provider>
  </extension>
</plugin>
