<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.espressif.idf.ui.new.wizard.category"
            name="%category.name">
      </category>
      <wizard
            category="com.espressif.idf.ui.new.wizard.category"
            class="com.espressif.idf.ui.wizard.NewIDFProjectWizard"
            icon="icons/espressif_idf_project.png"
            id="com.espressif.idf.ui.new.project.wizard"
            name="%wizard.name"
            project="true">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <newWizardShortcut
               id="com.espressif.idf.ui.new.project.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.espressif.idf.ui.category.import"
            name="%category.name.0">
      </category>
      <wizard
            category="com.espressif.idf.ui.category.import"
            class="com.espressif.idf.ui.wizard.ImportIDFProjectWizard"
            icon="icons/espressif_idf_project.png"
            id="com.espressif.idf.ui.wizard.import.idf"
            name="%wizard.name.0">
      </wizard>
   </extension>

</plugin>
