<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.espressif.idf.ui.locale.support" name="%extension-point.name" schema="schema/com.espressif.ifg/com.espressif.idf.ui.extensionspoint.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.espressif.idf.ui.new.wizard.category"
            name="%category.name">
      </category>
      <wizard
            canFinishEarly="true"
            category="com.espressif.idf.ui.new.wizard.category"
            class="com.espressif.idf.ui.wizard.NewIdfProjectMainWizard"
            hasPages="false"
            icon="icons/espressif_idf_project.png"
            id="com.espressif.idf.ui.new.project.wizard"
            name="%wizard.name"
            project="true">
         <description>
            %wizard.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="com.espressif.idf.ui.new.wizard.category"
            class="com.espressif.idf.ui.wizard.NewComponentMainWizard"
            hasPages="false"
            icon="icons/Espressif_IDF_Component.png"
            id="com.espressif.idf.ui.component.wizard"
            name="%wizard.name.1"
            project="true">
         <description>
            %wizard.description.0
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <newWizardShortcut
               id="com.espressif.idf.ui.new.project.wizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.espressif.idf.ui.component.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.espressif.idf.ui.category.import"
            name="%category.name.0">
      </category>
      <wizard
            category="com.espressif.idf.ui.category.import"
            class="com.espressif.idf.ui.wizard.ImportIDFProjectWizard"
            icon="icons/espressif_idf_project.png"
            id="com.espressif.idf.ui.wizard.import.idf"
            name="%wizard.name.0">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.espressif.idf.ui.update.InstallToolsHandler"
            id="com.espressif.idf.ui.command.install"
            name="%command.name">
      </command>
      <command
            defaultHandler="com.espressif.idf.ui.update.ListInstalledToolsHandler"
            id="com.espressif.idf.ui.command.list"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="com.espressif.idf.ui.help.LaunchEspIdfDocHandler"
            id="com.espressif.idf.ui.command.idfversiondoc"
            name="%command.name.1">
      </command>
      <command
            id="com.espressif.idf.ui.commands.installespidf"
            name="%command.name.2">
      </command>
      <command
            defaultHandler="com.espressif.idf.ui.help.ProductInformationHandler"
            id="com.espressif.idf.ui.command.productInfo"
            name="%command.name.4 ">
      </command>
      <command
            defaultHandler="ChangeLanguageHandler"
            description="%command.description"
            id="com.espressif.idf.ui.changeLanguage"
            name="%command.name.6">
      </command>
      <command
            defaultHandler="com.espressif.idf.ui.help.EclipsePluginDocHandler"
            id="com.espressif.idf.ui.command.eclipeguide"
            name="ESP-IDF Eclipse Plugin Guide">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="espressifMenu"
               label="%menu.label.1"
               mnemonic="%menu.mnemonic">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:espressifMenu">
         <command
               commandId="com.espressif.idf.ui.commands.installespidf"
               icon="icons/Download and configure ESP-IDF.png"
               id="installespidf"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:espressifMenu?after=installespidf">
         <menu
               icon="icons/ESP-IDF Tools Manager.png"
               id="espidftoolsInstall"
               label="%menu.label">
            <command
                  commandId="com.espressif.idf.ui.command.install"
                  icon="icons/ESP-IDF Install Tools.png"
                  style="push">
            </command>
            <command
                  commandId="com.espressif.idf.ui.command.list"
                  icon="icons/ESP-IDF List Tools.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:espressifMenu?after=espidftoolsInstall">
         <command
               commandId="org.plugin.espressif.commands.eraseFlash"
               icon="icons/Erase Flash.png"
               id="org.plugin.espressif.menus.eraseFlashCommand"
               label="%command.label.5">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:espressifMenu?after=org.plugin.espressif.menus.eraseFlashCommand">
         <menu
               icon="icons/Change Language.png"
               id="changeLanguage"
               label="%menu.label.0">
            <dynamic
                  class="com.espressif.idf.ui.menuitem.LanguageDynamicMenuItem"
                  id="com.espressif.idf.ui.LanguageDynamicMenu">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:espressifMenu?after=changeLanguage">
         <separator
               name="com.espressif.idf.espressif.seperator"
               visible="true">
         </separator>
         <command
               commandId="com.espressif.idf.ui.command.idfversiondoc"
               icon="icons/ESP-IDF Programming Guide.png"
               id="idfprogguide"
               label="%command.label"
               style="push">
         </command>
         <command
               commandId="com.espressif.idf.ui.command.eclipeguide"
               icon="icons/ESP-IDF Programming Guide.png"
               id="eclipseguide"
               label="ESP-IDF Eclipse Plugin Guide"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:espressifMenu?after=eclipseguide">
         <separator
               name="com.espressif.idf.espressif.seperator.2"
               visible="true">
         </separator>
         <command
               commandId="com.espressif.idf.ui.command.productInfo"
               icon="icons/Product Information.png"
               id="productinfo"
               label="%command.label.4 "
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.espressif.idf.ui.handlers.NewProjectHandler"
            id="com.espressif.idf.ui.command.new"
            name="%wizard.name">
      </command>
      <command
            defaultHandler="com.espressif.idf.ui.handlers.NewComponentHandler"
            id="com.espressif.idf.ui.command.component"
            name="%wizard.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="com.espressif.idf.ui.command.new"
               icon="icons/espressif_idf_project.png"
               label="%wizard.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.eclipse.cdt.ui.CPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.espressif.idf.ui.command.component"
               icon="icons/Espressif_IDF_Component.png"
               label="%wizard.name.1"
               style="push">
         </command>
      </menuContribution>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <separator
               name="com.espressif.idf.espressif.seperator"
               visible="true">
         </separator>
         <command
               commandId="com.espressif.idf.ui.memoryanalysis"
               icon="icons/ESP-IDF Application Size Analysis.png"
               label="%command.label.1"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.espressif.commands.cleanCommand"
               icon="icons/Python Clean.png"
               label="%command.label.2"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.espressif.idf.ui.heapDumpAnalysis"
               icon="icons/espressif.png"
               label="%command.label.3"
               style="push">
			<visibleWhen>
				<with variable="activeMenuSelection">
					<iterate
				    	ifEmpty="false">
				        	<adapt type="org.eclipse.core.resources.IResource">
				            	<test property="org.eclipse.core.resources.name" value="*.svdat" />
				             </adapt>
				    </iterate>
				</with>
         	</visibleWhen>
         </command>
         <command
               commandId="com.espressif.idf.ui.installidfcomponents"
               icon="icons/ESP-IDF Install Tools.png"
               label="%command.label.6"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.espressif.idf.core.idfNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.espressif.idf.ui.size.IDFSizeMemoryHandler"
            id="com.espressif.idf.ui.memoryanalysis"
            name="%command.name.3">
      </command>
      <command
            defaultHandler="com.espressif.idf.ui.handlers.HeapDumpAnalysisHandler"
            id="com.espressif.idf.ui.heapDumpAnalysis"
            name="%command.name.7">
      </command>
      <command
            defaultHandler="com.espressif.idf.ui.installcomponents.handler.InstallIDFComponentsHandler"
            id="com.espressif.idf.ui.installidfcomponents"
            name="%command.name.8">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.espressif.idf.ui.size.IDFSizeAnalysisEditor"
            default="false"
            icon="icons/ESP-IDF Application Size Analysis.png"
            id="com.espressif.idf.ui.editor.idfsize"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.cdt.launch.coreBuildTab">
      <provider
            nature="com.espressif.idf.core.idfNature"
            tabClass="com.espressif.idf.ui.dialogs.CMakeBuildTab2">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.espressif.idf.ui.install.IDFDownloadHandler"
            commandId="com.espressif.idf.ui.commands.installespidf">
      </handler>
   </extension>
   	<extension point="org.eclipse.ui.preferencePages">
  	<page
        class="com.espressif.idf.ui.preferences.EspresssifPreferencesPage"
        id="com.espressif.idf.ui.preferences.mainpage"
        name="%page.name">
  </page>
	</extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="com.espressif.idf.ui.InitializeToolsStartup">
       </startup>
    </extension>
    <extension
          id="com.espressif.idf.ui.extension.locale.support"
          name="LocaleSupport"
          point="com.espressif.idf.ui.locale.support">
       <Language
             id="zh"
             name="Chinese">
       </Language>
       <Language
             id="en"
             name="English">
       </Language>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.espressif.commands.category"
            id="com.espressif.commands.cleanCommand"
            name="%command.name.5">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.espressif.idf.ui.handlers.PythonCleanCommandHandler"
            commandId="com.espressif.commands.cleanCommand">
      </handler>
    </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.plugin.espressif.commands.category"
            name="%category.name.1">
      </category>
      <command
            categoryId="org.plugin.espressif.commands.category"
            id="org.plugin.espressif.commands.eraseFlash"
            name="%command.name.6">
      </command>
      <command
            categoryId="org.plugin.espressif.commands.category"
            defaultHandler="com.espressif.idf.ui.installcomponents.handler.InstallIDFComponentsHandler"
            id="com.espressif.idf.bundles.installIdfComponents"
            name="%command.name.10">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.espressif.idf.ui.handlers.EraseFlashCommandHandler"
            commandId="org.plugin.espressif.commands.eraseFlash">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.espressif.idf.ui.tracing.heaptracing.HeapTracingAnalysisEditor"
            default="false"
            icon="icons/espressif.png"
            id="com.espressif.idf.ui.editor.heapTraceAnalysis"
            name="%editor.name.0">
      </editor>
      <editor
            class="com.espressif.idf.ui.installcomponents.InstallComponentsEditor"
            default="false"
            icon="icons/ESP-IDF_Install_Components.png"
            id="com.espressif.idf.ui.installComponents"
            name="%editor.name.1">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.espressif.idf.ui.tracing.TracingCallersView"
            icon="icons/espressif.png"
            id="com.espressif.idf.ui.views.tracingcallersview"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/espressif.png"
            id="com.espressif.idf.ui.intro">
      </intro>
      <introProductBinding
            introId="com.espressif.idf.ui.intro"
            productId="com.espressif.idf.branding.idf">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introcontent.xml"
            id="com.espressif.idf.ui.introConfigId"
            introId="com.espressif.idf.ui.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
</plugin>
