<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idf"
         name="Espressif IDE"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Espressif IDE brings developers an easy-to-use Eclipse-based development environment for developing ESP32 based IoT applications"
            name="%product.name">
         <property
               name="appName"
               value="Espressif IDE">
         </property>
         <property
               name="aboutText"
               value="%productBlurb"></property>
         <property name="aboutImage" value="icons/espressif90x.png"/>
         <property
               name="windowImages"
               value="icons/16x16.png,icons/32x32.png,icons/48x48.png,icons/64x64.png,icons/256x256.png">
         </property>
         <property
               name="introTitle"
               value="Welcome to Espressif IDE">
         </property>
         <property
               name="introBrandingImageText"
               value="Espressif IDE">
         </property>
    	<property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
