<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idf"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Espressif IDE brings developers an easy-to-use Eclipse-based development environment for developing ESP32 based IoT applications"
            name="%product.name">
         <property
               name="appName"
               value="Espressif IDE">
         </property>
      </product>
   </extension>

</plugin>
