<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.launchbar.ui.launchTargetTypeUI">
      <launchTargetTypeUI
            id="com.espressif.idf.launch.serial.core.serialFlashTarget"
            labelProvider="com.espressif.idf.launch.serial.ui.internal.SerialFlashLaunchTargetLabelProvider">
      </launchTargetTypeUI>
      <wizard2
            class="com.espressif.idf.launch.serial.ui.internal.NewSerialFlashTargetWizard"
            icon="icons/esp_target.png"
            id="com.espressif.idf.launch.serial.core.serialFlashTarget"
            name="ESP Target">
      </wizard2>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.espressif.idf.launch.serial.ui.internal.SerialFlashLaunchConfigTabGroup"
            id="com.espressif.idf.launch.serial.ui.launchConfigurationTabGroup"
            type="com.espressif.idf.launch.serial.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <buildTabGroup
            launchConfigType="com.espressif.idf.launch.serial.launchConfigurationType"
            launchDescriptorType="com.espressif.idf.launch.serial.core.idf.descriptorType"
            tabGroup="org.eclipse.cdt.launch.internal.corebuild.CoreBuildTabGroup">
      </buildTabGroup>
      <descriptorUI
            descriptorTypeId="com.espressif.idf.launch.serial.core.idf.descriptorType"
            labelProvider="com.espressif.idf.launch.serial.ui.IDFLaunchDescriptorLabelProvider">
      </descriptorUI>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.espressif.idf.launch.serial.launchConfigurationType"
            icon="icons/esp_target.png"
            id="com.espressif.idf.launch.serial.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%IDF_PATH_VAR.description"
            name="IDF_PATH"
            resolver="com.espressif.idf.launch.serial.ui.IDFDynamicVariableResolver">
      </variable>
      <variable
            description="%IDF_PYTHON_ENV_PATH_VAR.description"
            name="IDF_PYTHON_ENV_PATH"
            resolver="com.espressif.idf.launch.serial.ui.IDFDynamicVariableResolver">
      </variable>
      <variable
            description="%IDF_PY_VAR.description"
            name="IDF_PY"
            resolver="com.espressif.idf.launch.serial.ui.IDFDynamicVariableResolver">
      </variable>
   </extension>

</plugin>
