<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.espressif.esp32.debug.gdbjtag.openocd.launchConfigurationType">
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.SysviewAppCpuFile" value="app-cpu.SVDat"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.SysviewPoolPeriod" value=""/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.SysviewProCpuFile" value="pro-cpu.SVDat"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.SysviewStopTmo" value=""/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.SysviewTraceSize" value=""/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.doContinue" value="true"/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.doDebugInRam" value="false"/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.doFirstReset" value="false"/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.doGdbServerAllocateConsole" value="true"/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.doGdbServerAllocateTelnetConsole" value="false"/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.doSecondReset" value="false"/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.doStartGdbServer" value="true"/>
<booleanAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.enableSemihosting" value="true"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.firstResetType" value="init"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbClientOtherCommands" value="set mem inaccessible-by-default off"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbClientOtherOptions" value=""/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbServerConnectionAddress" value=""/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbServerExecutable" value="/Users/kondal/esp/openocd-esp32/bin/openocd"/>
<intAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbServerGdbPortNumber" value="3333"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbServerLog" value=""/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbServerOther" value="-s /Users/kondal/esp/openocd-esp32/share/openocd/scripts&#10;-f interface/ftdi/esp32_devkitj_v1.cfg&#10;-f board/esp32-wrover.cfg"/>
<intAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.gdbServerTelnetPortNumber" value="4444"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.otherInitCommands" value="mon reset halt&#10;flushregs&#10;set remote hardware-watchpoint-limit 2"/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.otherRunCommands" value=""/>
<stringAttribute key="com.espressif.esp32.debug.gdbjtag.openocd.secondResetType" value="halt"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="ESP32 OpenOCD"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
<intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="3333"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="app_main"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="/Users/kondal/esp/xtensa-esp32-elf/bin/xtensa-esp32-elf-gdb"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="0"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="/Users/kondal/eclipse-workspace/demoblink/build/blink.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="demoblink"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
<stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;memoryBlockExpressionList context=&quot;Context string&quot;/&gt;&#10;"/>
<stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
