<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.espressif.idf.launch.serial.launchConfigurationType">
    <stringAttribute key="org.eclipse.cdt.debug.core.target_arch" value="xtensa"/>
    <stringAttribute key="org.eclipse.cdt.debug.core.target_os" value="esp32s2"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="NewProjectForInstallNewComponentTest"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/NewProjectForInstallNewComponentTest"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.launchbar.core.originalName" value="NewProjectForInstallNewComponentTest"/>
    <stringAttribute key="org.eclipse.launchbar.core.providerClass" value="com.espressif.idf.launch.serial.internal.SerialFlashLaunchConfigProvider"/>
</launchConfiguration>
