# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn clean verify -Djarsigner.skip=true
    - uses: actions/checkout@v2
    - name: navigate
      run: cd /home/runner/work/idf-eclipse-plugin/idf-eclipse-plugin/releng/com.espressif.idf.update/target/
    - name: print
      run: ls  
      # To avoid double zip issues with the upload-artifact@v2 we will unzip
    - name: UnZip File
      if: ${{ !cancelled() }}
      uses: montudor/action-zip@v0.1.0
      with:
        args: unzip -qq /home/runner/work/idf-eclipse-plugin/idf-eclipse-plugin/releng/com.espressif.idf.update/target/com.espressif.idf.update-1.2.2-SNAPSHOT.zip -d artifacts
    - name: Upload a Build Artifact
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: /home/runner/work/idf-eclipse-plugin/idf-eclipse-plugin/releng/com.espressif.idf.update/target/artifacts
