# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
   
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
   
    - name: Build with Maven
      run: mvn clean verify -Djarsigner.skip=true
      # To avoid double zip issues with the upload-artifact@v2 we will unzip

    - name: Upload build artifacts
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: releng/com.espressif.idf.update/target/repository
        
    - name: Upload windows rcp
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: "Espressif IDE for Windows"
        path: releng/com.espressif.idf.product/target/products/com.espressif.idf.product/win32/win32/x86_64
        
    - name: Upload macOS rcp
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: "Espressif IDE for macOS"
        path: releng/com.espressif.idf.product/target/products/com.espressif.idf.product/macosx/cocoa/x86_64

    - name: Upload linux rcp
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: "Espressif IDE for Linux"
        path: releng/com.espressif.idf.product/target/products/com.espressif.idf.product/linux/gtk/x86_64
