# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
   
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
   
    - name: Build with Maven
      run: mvn clean verify -Djarsigner.skip=true
  
    - name: Create macosx dmg
      run: ./releng/ide-dmg-builder/ide-dmg-builder.sh

    - name: Upload build artifacts
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: releng/com.espressif.idf.update/target/repository
        
    - name: Upload windows rcp
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: espressif-ide-win32
        path: releng/com.espressif.idf.product/target/products/Espressif-IDE-*-win32.win32.x86_64.zip

    - name: Upload macOS rcp
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: espressif-ide-macosx
        path: releng/com.espressif.idf.product/target/products/Espressif-IDE-*-macosx.cocoa.x86_64.tar.gz

    - name: Upload linux rcp
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: espressif-ide-linux
        path: releng/com.espressif.idf.product/target/products/Espressif-IDE-*-linux.gtk.x86_64.tar.gz
    
    - name: Upload macosx dmg
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: espressif-ide-macosx-dmg
        path: releng/com.espressif.idf.product/target/products/Espressif-IDE.dmg
  