# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven on Windows 

on:
  push:
    branches:
     - master
     - release/**
  pull_request:
    branches:
     - master
     - release/**

jobs:
  build_windows:

    runs-on:
      - eclipseUpd
      - BrnoWIN0007
    
    steps:
    - uses: actions/checkout@v4

    - name: Clone IDF Release From Github
      uses: actions/checkout@v4
      with:
        repository: espressif/esp-idf
        path: dependencies/idf-tools
        submodules: 'true'
        ref: release/v5.1

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
          python-version: '3.11'

    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.6
   
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn clean verify "-Djarsigner.skip=true" "-DskipTests=false" "-DtestWorkspace=C:/actions-runner/_work/workspace"

    - name: Publish Test Reports
      if: ${{ always() }}
      uses: phoenix-actions/test-reporting@v12
      with:
        name: Windows Test Reports
        path:
          tests/*/*/*/TEST-*.xml
        reporter: java-junit
