# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven on Windows 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_windows:

    runs-on: windows-latest
    
    steps:

    - uses: actions/checkout@v2

    - name: Clone IDF Release From Github
      uses: actions/checkout@v2
      with:
        repository: espressif/esp-idf
        path: dependencies/idf-tools
        submodules: 'true'
        ref: v4.4

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: '3.9'

    - name: Set up Maven
      uses: stCarolas/setup-maven@v4.3
      with:
        maven-version: 3.8.4
   
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn clean verify "-Djarsigner.skip=true" "-DskipTests=false"

    - name: Publish Test Reports
      if: ${{ always() }}
      uses: scacap/action-surefire-report@v1
      with:
           check_name: 'Windows Test Reports'
